body {
    width: min(500px, 90%);
    /* width suitable for mobile > 320px and small tablet screens */
    box-sizing: border-box;
    /* border included in how browser calculates width and height */
    background-color: #92977Eff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1%;
}

h1,
h2 {
    background-color: palegoldenrod;
    margin: 0;
}

.game-area {
    padding: 1%;
    background-color: palegoldenrod;
    text-align: left;
}

#helpButton {
    /* the helpButton to appear in top right of game area */
    float: right;
    background-color: #92977Eff;
    border-radius: 3px;
    font-size: 1.5em;
}

.choice-area {
    /* the 5 buttons auto sized according to name as size ranges from 4 letter (rock) to 8 (scissors) */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0.5em;
    margin-top: 0.5em;
    font-weight: 700;
    padding: 1%;
}

.rock {
    background-color: aqua;
}

.paper {
    background-color: bisque;
}

button:hover {
    /* color change on hover over a button alerts user it is clickable */
    background: #e6e18f;
}

#winorloseTurn {
    /* this div is empty at start of game & is filled with the turn result each turn the user clicks */
    padding: 1em 0;
    font-size: 1em;
    /* background-color: lightsalmon; */
}

.score-area {
    /* div empty at start and filled at end of each round of 5 turns */
    /* background-color: pink; */
    /* visibility: hidden; */
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto auto;
    padding: 1%;
}

/* 
#round {
    background-color: palegoldenrod;
}

#user {
    background-color: palegoldenrod;
}

#draw {
    background-color: palegoldenrod;
}

#device {
    background-color: palegoldenrod;
} */


/*  This .modal is taken from W3Schools 
    It is used when helpButton is clicked and a popup modal presents the rules of the game
    Small chamges to accomodate my game
    the .modal div is for the modal background
 The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box from the top */
    /* left: auto;             want box centered in page */
    /* right: auto; */
    width: min(800px, 90%);
    /* width suitable for mobile > 320px and small tablet screens */
    top: 0;
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* Black w/ opacity */
}

/* help Content */
.help-content {
    background-color: palegoldenrod;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    /* text-decoration: none; */
    cursor: pointer;
}

.icon-table {
    font-size: 2rem;
    display: inline;
    float: left;
    /* border: 2px solid black; */
}

.icon-table tr,
.icon-table td {
    outline: 2px solid #000;
}

.rules-table {
    display: inline;
    text-align: left;
}


/* Footer */
footer {
    background-color: palegoldenrod;
    text-align: center;
}

.social-media {
    text-align: center;
    padding: unset;
}

.social-media li {
    display: inline;
}

.social-media i {
    margin: 1%;
    color: #000;
}

/* 404 Error Page */

#error-button {
    background-color: #92977Eff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}



/* 3/2 do MQ for <375px screen, as 5 buttons overflow at < 340px */
/* now i see they only overflow at <300 */

@media (max-width: 320px) {

    .choice-area {
        column-gap: 0.2em;
    }
}

/* center the icon & rules table once they go to column each */


@media (min-width: 1000px) {
    /*render game footprint little bit bigger for larger screens */

    body {
        width: min(800px, 80%);
    }
}