 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* * {
    outline: 1px solid #f00 !important;
} */
/* Clear box model defaults*/

/* * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
} */


body {
    font-family: 'Roboto', sans-serif;
    width: min(500px, 90%);    /* width suitable for mobile > 320px and small tablet screens */
    box-sizing: border-box;    /* border included in how browser calculates width and height */
    padding: 5vh 0 0 0;
    margin: 0 auto;
    text-align: center;
    background-color: #92977Eff;
}

h1,
h2 {
    background-color: #EEE8AA;
    margin: 0;
}

span {
    white-space: nowrap;    /* Tagline in header - used to ensure icons and name do not get separated with line break */
    padding: 0.5%;
}

.game-area {
    padding: 1%;
    background-color: #EEE8AA;
    text-align: center;
}

/* the helpButton to appear in top right of game area- clicking on it will fire modal */
#helpButton {
    float: right;
    background-color: #92977Eff;
    border-radius: 3px;
    font-size: 1.5em;
}

#helpButton:hover,
#helpButton:focus {
    background: #e6e18f;
    cursor: pointer;
}

.choice-area {
    /* the 5 buttons auto sized auto - ranges from 4 letter (rock) to 8 (scissors) */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0.5em;
    margin-top: 0.5em;
    padding: 1%;
}

button {
    border-radius: 0.5em;
    font-weight: 600;
    padding: 1px 2px;
}

button>i {
    font-size: 2em;
    font-weight: 700;
    padding-top: 10px;
}

button:hover {
    /* color change on hover over a button alerts user it is clickable */
    background: #e6e18f;
}

#winorloseTurn {
    /* this div is empty at start of game & is filled with the turn result each turn the user clicks */
    padding: 1em 0;
    font-size: 1em;
}

#roundResults {
    padding-bottom: 1em;
}
#roundResults > button {
    font-size: 2em;
}

/* The playAgain button */
/* #roundResults > button {
     animation-name: helpButton-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes helpButton-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.4);
    }
} */

/* score-area is the scoreboard during the game, it has 4 items, Turn, Draws, User Score, Device Score */

#score-area {
    display: flex;
    justify-content: space-around;
    background-color: #92977Eff;
    padding: 1% 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 1%;
    /* visibility: hidden; */
}

#score-area > div {
    text-align: center;
    background-color: #EEE8AA;
    padding: 1%;
    border: 1px dotted #000;
    border-radius: 0.5em;
}

/*  This helpModal is inspired by modal example from W3Schools 
    It is used when helpButton is clicked and a popup modal presents the rules of the game
    Some changes made to accomodate this game, the #helpModal div is the modal background
 */
#helpModal {
    display: none;   /* Hidden by default */
    position: absolute;    /* Stay in place */
    z-index: 1;             /* Sit on top of game*/
    padding-top: 10vh;      /* 5vh lower than game header so header be seen */
    width: min(500px, 90%);
    /* similar size to body so as to overlay game when displayed */
    top: 0;
}

/* has the help content inside the popup */
.help-content {
    background-color: #EEE8AA;
    margin: auto;
    padding: 20px;
    text-align: left;
}

/* List of instruction of How to Play in the help modal */
ul {    
    padding-inline-start: 0;
    list-style-type: decimal;
    margin-bottom: auto;
}

li {
    margin-bottom: 1%;
}
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.tables-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    background-color: #92977Eff;
    padding: 1% 0;
}

.tables-container > div {
    background-color: #f1f1f1;
    padding: 1%;
    border-radius: 3px;
}

.icon-table {
    font-size: 2rem;
    text-align: left;
}
 
.icon-table tr {
   margin-bottom: 1%;
}

thead {
    font-size:  2em;
}

#rules-body tr {
    text-align: right;
}

/* Shade & left align the rule pairs for easier reading, unfortunatley had to hardcode,  a funcwould prefer n function that selects row pairs*/
#rules-body tr:nth-child(1),
#rules-body tr:nth-child(2),
#rules-body tr:nth-child(5),
#rules-body tr:nth-child(6),
#rules-body tr:nth-child(9),
#rules-body tr:nth-child(10) {
    background-color: #92977E82;
    text-align: left;
}

/* Every 2nd row on Rules table get more line space for legibility */

#rules-body tr:nth-child(even) {
    line-height:    2em;
}

/* Footer */
footer {
    background-color: #EEE8AA;
    text-align: center;
}

.social-media {
    text-align: center;
    padding: unset;
}

.social-media li {
    display: inline;
}

.social-media i {
    margin: 1%;
    color: #000;
}

/* 404 Error Page */

#error-button {
    background-color: #92977Eff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* 3/2 do MQ for <375px screen, as 5 buttons overflow at < 340px */
/* now i see they only overflow at <300 */

@media (max-width: 320px) {

    .choice-area {
        column-gap: 0.2em;
    }
}

 
/*
 For screen wider than 1000px
 Render game footprint little bit bigger for larger screens by setting width to 800px 
 Also adjust padding at top to 20% of viewport, give modal 5vh extra padding to show game heading

 */

@media (min-width: 1000px) {

    body {
        width: 800px;
        padding-top: 20vh;
    }

    #helpModal {
        width: 800px;
        padding-top: 25vh;
    }
}